.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.optionBtn {
  padding: 5px;
  background-color: #8f4cbf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
